/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
a {
	color: black;
	text-decoration: none;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 50px 0;
}
#header div{
	background-color: black;
	flex-direction: column;
	
}
#headerLogin {
	flex-direction: row;
}
.positionNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a:hover {
	color: #B1663C;
}
.header-logout a:hover {
	font-weight: 600;
	color: black;
}
html body #barreLogin {
	max-width: 1440px;
	margin: 0;
}
.barreLogin {
	background-color: black;
	justify-content: center;
    display: flex;
	height: 59px;
	align-items: center;
	
}
span.logoBarreLogin {
	padding-right: 5px;
}
.txtMode {
	color: white;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 400;
}
.buttonLogin {
	display: flex;
    padding-left: 20px;
}
#colorSpan {
	color: black;
	padding-right: 5px;
}
.buttonPublierPhoto {
	border: none;
	background-color: #FFFEF8;

}
.txtMode, .buttonPublierPhoto {
	font-family: 'work Sans';
}
.btn-modal {
	color: white;
    background-color: #1D6154;
    border-radius: 60px;
    width: 237px;
    height: 36px;
	border: none;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.positionModal{
	display: flex;
	gap: 10px;
	padding-top: 10px;
	cursor: pointer;
}
.positionModal i {
	font-size: 15px;
}
#directionModal {
	display: flex;
	gap: 30px;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
section#portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#filters{
	display: flex;
    flex-direction: row;
    gap: 10px;
	width: min(100%,584px);
    height: 37px;
    text-align: center;
	margin-bottom: 40px;
}
.filter{
	font-family: 'Syne';
    font-size: 1em;
    color: #1D6154;
    border: 1px solid #1D6154;
    border-radius: 60px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    white-space: nowrap;
	cursor: pointer;
}

.filter:hover, .filter:active{
	color:#FFFEF8;
	background:#1D6154 ;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}


/*								Modale					*/
.hidden {
	display: none;
}
.c-dialog {
    position: absolute;
  	z-index: 1;
    top: 660px;
    left: 405px;
    display: flex;
    padding: 2.4rem;
	background: #FFFFFF;
    transition: .2s;
	width: 630px;
	height: 731px;
	border-radius: 10px;
}
.fleche-svg {
	display: flex;
    position: absolute;
    top: 20px;
    left: 30px;
}
.dialog, .delete-button{
	display: flex;
	justify-content: center;
}
.dialog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*display: none;*/
} 
.dialog:active {
	display: block;
}
.modal[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
} 
.c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}
.wrapper {
/*	position: relative;
	top: 660px;*/
	justify-content: center;
	padding: 43px 0px 48px 0px;
	border-radius: 10px;
}
.close:hover, 
.close:focus {
	text-decoration: none;
	cursor: pointer;
}
.wrapper h2 {
	text-align: center;
	font-family: Work Sans;
	color: black;
	font-size: 26px;
	font-weight: 400;
	padding-bottom: 46px;
}
#dialog-gallery {
	width: 80%;
	display: flex;
    flex-wrap: wrap;
    gap: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 45px;
    
}
#frist-page,#two-page, .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#frist-page {
	/*position: relative;*/
	width: 100%;
} 
.delete-button {
	height: 17px;
	width: 17px;
	border-radius: 2px;
	background-color: black;
	color: white;
	position: absolute;
	top: 6px;
	align-items: center;
} 
button.close {
	font-size: 24px;
	border: none;
	background-color: white;
	position: absolute;
	top: 15px;
	right: 25px;
}
.delete-button {
	font-size: 9px;
	right: 6px;
}
.confirm-delete{
	position: absolute;
    top: 30%;
    border-radius: 10px;
    background: black;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 10px;
	text-align: center;
}
#dialog-gallery .work {
	width: 18%;
    display: flex;
    flex-direction: column;
	position: relative;
	margin-bottom: 40px;
}
#dialog-gallery img {
	display: block;
}
.delete-icon {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px;
    background-color: black;
}
#two-page {
	width: 630px;
	height: 670px;
	/*display: none;*/
}
#two-page p{
	font-family: 'Work Sans';
	cursor: pointer;
}
.modal-form {
	display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
.rajout {
	width: 420px;
    display: flex;
    flex-direction: column;
	gap: 15px;
	background-color: #E8F1F6;
    border-radius: 3px;
	height: 169px;
	margin-bottom: 43px;
}
.rajout svg {
	align-self: center;
	margin-top: 20px;
}
#ajout-photo {
	width: 173px;
    height: 36px;
    align-self: center;
    border-radius: 50px;
	color: #306685;
    font-size: 14px;
    font-weight: bold;
	background-color: #CBD6DC;
	border: none;
}
.divphoto {
	height: 193px;
    width: 129px;
    align-self: center;
    justify-items: center;
}
#color-modal {
	font-family: 'work Sans';
	color: #444444;
	font-size: 10px;
    align-self: center;
}
.info-element {
	display: flex;
    flex-direction: column;
	width: 420px;
	gap: 20px;
}
input, select#categorie {
	height: 51px;
}
select#categorie {
	margin-bottom: 54px;
}
.ajout-photos {
	width: 237px;
    height: 36px;
    border-radius: 60px;
    background-color: #a7a7a7;
    color: white;
    align-self: center;
	border: none;
    margin-top: 62px;
}
.formulaire-ajout {
	display: contents;
}
.border-button {
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* page Login  */

#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 90px 0 330px 0;
}

#login h1 {
	font-size: 30px;
	font-weight: 700;
	color: #1D6154;
	margin: 40px 0;
}

#login form {
	display: flex;
	flex-direction: column;
}

#login form input:not([type="submit"]) {
	margin: 10px 0 20px 0;
	padding: 0;
	height: 40px;
	width: 300px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
}

.btn-submit {
	display:flex;
	justify-content: center;
	margin-top: 10px;
}

#login input[type="submit"] {
	height: 32px;
	border: none;
	margin: 10px 0 20px 0;
	border-radius: 60px;
	width: 160px;
}

#login input[type="submit"]:hover {
	cursor: pointer;
}

#login a {
	text-decoration: underline;
	color:	black;
}

#login a:hover {
	color: #B1663C;
}

